[% INCLUDE header.tmpl
	title = 'KB Web Administrator'
%]
[% INCLUDE left_section.tmpl
	title = 'KB Web Administrator'
%]
	<div id="main_section">
	Home > Sections
		<div id="content_section">
			<h2>Sections</h2>
			[%- VIEW nested_list -%]
			  [%- BLOCK list %]
			  <table border=0>
				  [% FOREACH i IN item -%]
				  <tr>
					<td>
					[%- IF i.parent_id -%] >> [%- END -%]
					<a href='[% htmlcgi %]/admin/view/viewSection.pl?sectionId=[% i.id %]'>[% i.name %]</a>
					[%- IF i.children -%]
					  [%- view.print(i.children.list) -%]
					[%- END -%]
					</td>
				   </tr>
				  [%- END -%]
				 </table>
			  [%- END -%]
			[%- END -%]
			[%- nested_list.print(sections) %]
		</div>
		<div id="action_section">
				Actions:
				<table border=0><tr>
					<td><input type=button value='Add' onClick=self.location='[% htmlcgi %]/admin/view/viewSectionAdd.pl?parent_id=0' /></td>
					<td><input type=button value='Update Template' onClick=self.location='[% htmlcgi %]/admin/auto/updateLeftNav.pl' /></td>
				</tr></table>
				<h3>Deleted Sections</h3>
				<table border=1>
					[% FOREACH ds IN deletedSections %]
					<tr>
						<td>[% ds.name %]</td>
						<td><input type='button' value='Restore' onClick=self.location='[% htmlcgi %]/admin/edit/restoreSection.pl?section_id=[% ds.id %]' /></td>
					</tr>
					[% END %]
				</table>
		</div>
	</div>
[% INCLUDE footer.tmpl %]