[% INCLUDE header.tmpl
	title = 'KB Web Administrator'
%]
[% INCLUDE left_section.tmpl
	title = 'KB Web Administrator'
%]
	<div id="main_section">
	Home > Users > [% user.name %]
		<div id="content_section">
			<h2>[% user.name %]</h2>
			<form action='[% htmlcgi %]/admin/edit/editUser.pl' method='POST'>
			<table border=1>
				<tr><td>Id:</td><td><input type='text' id='user_id' name='user_id' value=[% user.id %] readonly="readonly" /></td></tr>
				<tr><td>Name:</td><td><input type='text' id='user_name' name='user_name' value='[% user.name %]' /></td></tr>
				<tr><td>Username:</td><td><input type='text' id='user_username' name='user_username' value='[% user.username %]' /></td></tr>
				<tr><td>Email:</td><td><input type='text' id='user_email' name='user_email' value='[% user.email %]' /></td></tr>
				<tr><td>Active:</td><td>[% user.active %]</td></tr>
				<tr><td></td><td><input type='submit' value='Change' /></td></tr>
				</tr>
			</table>
			</form>
		</div>
		<div id="action_section">
			<form>
				Actions:
				<table border=1><tr>
				<td>
					<input type=button value='Delete' onClick=self.location='[% htmlcgi %]/admin/delete/deleteUser.pl?user_id=[% user.id %]' />
				</td>
				</tr></table>
			</form>
		</div>
	</div>
[% INCLUDE footer.tmpl %]