	<div id="left_section">
		<ul>
			<li><a href='[% htmlcgi %]/admin/view/viewSections.pl'>Sections</a></li>
			<li><a href='[% htmlcgi %]/admin/view/viewUsers.pl'>Users</a></li>
			<li><a href='[% htmlcgi %]/admin/view/viewTags.pl'>Tags</a></li>
		</ul>
	</div>