	<div id="left_section">
		Menu
		<ul>
			<li><a href='[% htmlcgi %]/admin/view/viewSections.pl'>Sections</a></li>
			<li><a href=''>Users</a></li>
			<li><a href='[% htmlcgi %]/admin/view/viewTags.pl'>Tags</a></li>
		</ul>
	</div>