		<div class="col2">
		<h2>Sections</h2>
		<ul>

					<li><a href='../../web/view/viewSectionEntries.pl?section_id=1'>Database</a></li>

						<ul>			<li><a href='../../web/view/viewSectionEntries.pl?section_id=2'>SQLite</a></li>

						</ul>				<ul>			<li><a href='../../web/view/viewSectionEntries.pl?section_id=4'>MySQL</a></li>

						</ul>			<li><a href='../../web/view/viewSectionEntries.pl?section_id=3'>VBScript</a></li>

		

		</ul>
		</div>