[% INCLUDE web_header.tmpl
	title = 'KB Web Viewer'
%]
	[% INCLUDE web_main_begin.tmpl %]
	[% INCLUDE web_breadcrumbs.tmpl %]

			<h2>Home</h2>
			Click on a section on the left to get started!
			<br />Or ...<br />
			<form action='[% htmlcgi %]/web/search/search.pl' method=POST>
				<table><tr><td>Search:</td><td><input type=text id='search_str' name='search_str' /></td><td><input type=submit value='Go!' /></td></tr></table>
			</form>

		<div id="action_section">
		</div>
	[% INCLUDE web_main_end.tmpl %]
	
	[% INCLUDE web_left_section.tmpl
		title = 'KB Web Viewer'
	%]

[% INCLUDE web_footer.tmpl %]