[% INCLUDE web_header.tmpl
	title = 'KB Web Viewer'
%]
	[% INCLUDE web_main_begin.tmpl %]
	[% INCLUDE web_breadcrumbs.tmpl %]
		<h2>[% entry.entry_name %]</h2>
		<table>
			<tr><td>By: [% entry.user_username%] | Last Updated: [% entry.lastdate %]</td></tr>
			<tr><td><pre class="content">[% entry.content_blob %]</pre></td></tr>
			<tr><td>Tags: [% FOREACH tag IN tags -%]<a href='[% htmlcgi %]/web/view/viewTagEntries.pl?tag_id=[% tag.id %]'>[% tag.name %]</a> [% END %]</td></tr>
			<tr><td>Attachments: [% FOREACH attach IN attachments -%]<a href='[% entrydir %]/[% attach.filename %]'>[% attach.name %]</a><a href='[% htmlcgi %]/web/delete/deleteAttachment.pl?attach_id=[% attach.id %]' onclick="return openPopup('[% htmlcgi %]/web/delete/deleteAttachment.pl?attach_id=[% attach.id %]');" target="_blank"><img src='[% htmldir%]/images/delete_icon.png' class='delete' title='Delete this attachment' /></a> [% END %]</td></tr>
		</table>
	<div id="action_section">
			<table border=0>
			<tr>
			<td><a href='[% htmlcgi %]/web/view/viewAddAttachment.pl?entry_id=[% entry.id %]' class='myButton' onclick="return openPopup('[% htmlcgi %]/web/view/viewAddAttachment.pl?entry_id=[% entry.id %]');" target="_blank">Add Attachment</a></td>
			<td><a href='[% htmlcgi %]/web/view/viewEntryEdit.pl?entry_id=[% entry.id %]&section_id=[% entry.section_id %]' class='myButton'>Edit Entry</a></td>
			<td><a href='[% htmlcgi %]/web/delete/deleteEntry.pl?entry_id=[% entry.id %]&section_id=[% entry.section_id %]' class='myButton'>Delete Entry</a></td>
			</tr>
			</table>
	</div>
	[% INCLUDE web_main_end.tmpl %]
		
	[% INCLUDE web_left_section.tmpl
		title = 'KB Web Viewer'
	%]

[% INCLUDE web_footer.tmpl %]