[% INCLUDE web_header.tmpl
	title = 'KB Web Viewer'
%]
	[% INCLUDE web_main_begin.tmpl %]
	[% INCLUDE web_breadcrumbs_tag.tmpl %]
			<h2>[% tag.name %]</h2>
			<table class="gridtable">
			[% FOREACH entry IN entries -%]
				<tr>
					<th><a href='[% htmlcgi %]/web/view/viewEntry.pl?entry_id=[% entry.id %]'>[% entry.name %]</a></th>
					<td>By: [% entry.username %]</td>
					<td>Last Updated: [% entry.lastdate %]</td>
				</tr>
			[%- END -%]
			</table>			
		<div id="action_section">
				Actions:
		</div>
	[% INCLUDE web_main_end.tmpl %]
	
	[% INCLUDE web_left_section.tmpl
		title = 'KB Web Viewer'
	%]

[% INCLUDE web_footer.tmpl %]