[% INCLUDE header.tmpl
	title = 'KB Web Administrator'
	cssdir = '../css'
%]
[% INCLUDE left_section.tmpl
	title = 'KB Web Administrator'
%]
	<div id="main_section">
	Home > Sections
	<h2>Add Section</h2>
		<div id="content_section">
			[% msg %]
		</div>
	</div>
[% INCLUDE footer.tmpl %]